html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.modal {
    position: absolute;
    padding: 20px;
    width: 70%;
    height: 70%;
    transform: translate(3%, 3%);
    background: #fff;
    -webkit-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.63);
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.63);
    z-index: 50;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
}

.cross-button-box {
    display: flex;
    justify-content: flex-end;
}

.cross-button {
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.fighter-detail-main-box {
    height: 95%;
    display: flex;
}

.picture-box {
    width: 50%;
    margin-left: 30px;
}

.fighter-datails-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fighter-picture {
    height: 80%;
    width: auto;
    margin-left: 20px;
}

.accept-button {
    width: 200px;
    height: 50px;
    margin-bottom: 50px;
    background: rgb(255, 115, 1);
    -webkit-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.63);
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.63);
    text-align: center;
    line-height: 3;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.fighter-name {
    font-weight: bolder;
    font-size: 50px;
}
